In [28]:
import pandas as pd
import numpy as np

In [22]:
df=pd.read_csv(r'C:\dsbda\Academic-Performance-Dataset.csv')
print(df)

    Rollno       Name Gender Branch  Attendence  Phy_marks  Che_marks  \
0        1   Mohammed      M   Comp        72.0       62.0       98.0
1        2    Reyansh      M     IT        58.0       62.0       83.0
2        3      Aarav      M     IT        57.0      -20.0      100.0
3        4     Atharv      M     IT        60.0       89.0       83.0
4        5     Vivaan      M   Comp        85.0       90.0        NaN
5        6      Advik      M   ENTC        94.0       99.0       84.0
6        7       Ansh      M   ENTC        98.0       88.0       95.0
7        8     Ishaan      M   ENTC        75.0       66.0       51.0
8        9      Dhruv      M   ENTC        63.0        NaN        NaN
9       10  Siddharth      M   ENTC        96.0       67.0       78.0
10      11     Vihaan      M   ENTC        82.0       54.0       70.0
11      12        NaN      M     IT        75.0       64.0       67.0
12      13     Aarush      M     IT        67.0       56.0       81.0
13      14        Leo      M     IT        98.0      -34.0       70.0
14      15     Maryam      F     IT        64.0       87.0       60.0
15      16     Saanvi      F   Comp        66.0       90.0       95.0
16      17    Zaranew      F   Comp        93.0       54.0        NaN
17      18      Inaya      F   Comp        74.0       67.0       93.0
18      19      Aarya      F   Comp        72.0       88.0       84.0
19      20        NaN      F   Comp        53.0       76.0       81.0

    EM1_marks  PPS_marks  SME_marks  Total Marks  Percentage
0        63.0       89.0       36.0          368        73.6
1        83.0       88.0       34.0          350        70.0
2         NaN       56.0       36.0          192        38.4
3        70.0       33.0       23.0          298        59.6
4        78.0       23.0       56.0          247        49.4
5       100.0       56.0       99.0          438        87.6
6        81.0       78.0       78.0          420        84.0
7        83.0      -99.0       76.0          192        38.4
8        97.0       56.0       55.0          208        41.6
9        95.0        NaN       98.0          338        67.6
10       88.0       55.0       56.0          323        64.6
11       71.0       66.0       87.0          355        71.0
12        NaN       90.0       55.0          282        56.4
13       94.0       77.0       66.0          273        54.6
14       90.0       65.0       90.0          392        78.4
15       67.0       99.0       77.0          428        85.6
16       75.0       90.0       65.0          284        56.8
17       93.0       87.0       99.0          439        87.8
18       81.0       80.0       45.0          378        75.6
19       93.0       65.0       23.0          338        67.6

In [35]:
df['EM1_marks'].isnull().sum()

2

In [24]:
mean_value=df['Total Marks'].mean()  
df['Total Marks'].fillna(mean_value , inplace=False)  
df['Total Marks'].head()

0    368
1    350
2    192
3    298
4    247
Name: Total Marks, dtype: int64

In [34]:
def detect_outliers_iqr(column):
    # Calculate the first quartile (Q1) and third quartile (Q3)
    q1 = column.quantile(0.25)
    q3 = column.quantile(0.75)

    # Calculate the IQR (Interquartile Range)
    iqr = q3 - q1

    # Define the lower and upper bounds for outliers
    lower_bound = q1 - 1.5 * iqr
    upper_bound = q3 + 1.5 * iqr

    # Find the outliers
    outliers = column[(column < lower_bound) | (column > upper_bound)] 
    print(iqr) 
    print(lower_bound) 
    print(upper_bound)  
    return outliers

outliers = detect_outliers_iqr(df['Total Marks'])  
print("Outliers:", outliers)

# data transformation

transformed_data=np.log(df['Total Marks']) 
transformed_data

101.75
127.125
534.125
Outliers: Series([], Name: Total Marks, dtype: int64)

0     5.908083
1     5.857933
2     5.257495
3     5.697093
4     5.509388
5     6.082219
6     6.040255
7     5.257495
8     5.337538
9     5.823046
10    5.777652
11    5.872118
12    5.641907
13    5.609472
14    5.971262
15    6.059123
16    5.648974
17    6.084499
18    5.934894
19    5.823046
Name: Total Marks, dtype: float64